.add-project {
    overflow: visible;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

#floatingTextarea2 {
    height: 210px; 
}

.button-save{
    align-self: center;
    font-size: 1.2em;
}
  